/*
 * personal CSS
 */

.main, .tocsub, .tocviewtitle {
	font-family: Cantarell, "Luxi Sans", sans-serif;
}

.maincolumn {
	margin-left: 18em;
}

.main h1, .main h2, .main h3, .main h4 {
	color: #444444;
	background-color: #eedd88;
	padding-top: 0.2em;
	padding-left: 0.5em;
}

.tocsub {
	font-size: 1.1em;
	background-color: white; /*#eedd88;*/
}

.tocviewtitle {
	background-color: white;
}
.tocviewtitle tbody {
	border: 0;
}

.tocset {
	width: 15.5em;
	margin-left: 1em;
}

.tocset, .tocset a, .tocset td a.tocviewselflink {
	color: #444444;
	background-color: white;
}

.tocset table td {
	text-align: right;
}

.main p {
	text-align: justify;
}

span.stt {
	font-size: 0.9em;
	color: #994444;
	font-weight: bold;
}

.abstract {
	font-style: italic;
	font-size: 0.9em;
	width: 80%;
	margin: auto;
	padding:0.3em;
	background-color: #cccccc;
}
.abstract .plain {
	font-style: normal;
}

.refcontent {
	font-family: Cantarell, "Luxi Sans", sans-serif;
}
